{% extends 'base.html.twig' %}

{% block title user.username  ~ "'s Profile" %}

{% block body %}
        <div class="card text-center" style="width: 25rem">
            <div class="card-body">
                <ul class="list-group">
                    <li><h5>{{ user.username }}</h5></li>
                    <li>{{ user.email }}</li>
                    <li>{{ user.telephone }}</li>
                    <li>{{ user.cIN }}</li>
                </ul>
            </div>
        </div>
{% endblock %}